.navbar {
    border-bottom: 1px solid var(--border-border-subtle, #EBEBEB);
    background: #FFF;
    display: flex;
    width:auto;
    height: 72px;
    padding: 12px 48px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.navbar .logoContain{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    width: 95.496px;
    height: 31.834px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 6.513px;
}

.navbar .miniContain{
    display: flex;
    align-items: center;
    padding: auto;
    gap: 20px;
}

.navbar .searchContainer{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    height: 20px;
    padding: 13px 16px; 
    gap: 24px;
}

.navbar .AddButton{
    display: flex;
    width: 150;
    height: 20px;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--interactive-interactive-one-default, #D33852);
    margin: 0 16px;
    color: rgb(255, 255, 255);
}

.navbar .AddButton .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.navbar .AddButton .close:hover,.navbar .AddButton .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

